a:link {
    color: purple
}

a:visited {
    color: red
}

a:hover {
    color: blue
}

a:active {
    color: burlywood;
}

.heading2 {
    font-style: italic; color: blue;
}
div {
    background-color: purple;
    color: white;
    text-align: center;
}
div:hover {
    background-color: white;
    color: purple;
}