body {
    background-image: url(/rickandmortybg.jpg);
    background-size: cover;
}
a:link {
    color: red
}

a:visited {
    color: black
}

a:hover {
    color: blue
}

a:active {
    color: burlywood;
}

.heading2 {
    text-align: center; text-underline-position: below; color: red;}

p {text-align: center;}
p b:first-child {
    color:black;
}

div { 
    background: none;
    color:black;
    text-align: center;
    padding: 30px;
}
div:hover {
    background-color: olive;
}

p .snek:hover{
    display: none;
    background: none;
    color:black;
    text-align: center;
    padding: 30px;
}
div .app:hover p .snek{
   display: block; 
}
